.weather-overlay {
    height: 9rem;
    width: 40%;
    margin-top: 0rem;
    background-repeat: no-repeat;
    background-position: center;
    zoom: 1.2;
    background-color: transparent !important;
}

@media only screen and (max-width: 600px) {
    .weather-overlay {
        width: 100%;
    }
}