.weather-overlay {
    height: 9rem;
    margin-top: 0rem;
    background-repeat: no-repeat;
    background-position: center;
    zoom: 1.2;
    background-image: url("/assets/weather-icons/clouds.svg");
    background-color: transparent !important;
}