.weather-overlay {
    height: 9rem;
    margin-top: 1rem;
    background-repeat: no-repeat;
    background-position: center;
    zoom: 1.2;
    background-color: transparent !important;
    margin-bottom: 1rem;
}