.forecast {
  border-radius: 1rem;
  margin: 0 0;
}

.forecast__heading {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 1rem;
}

.forecast__cards {
  display: grid;
  grid-template-columns: repeat(5, minmax(7rem, 1fr));
  gap: 0.5rem;
  
}
